spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5434/payment_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  cloud:
    discovery:
      enabled: false
      reactive:
        enabled: false

logging:
  level:
    ru.otus.cafe.payment: DEBUG

server:
  port: 8003
  servlet:
    context-path: /

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics

eureka:
  client:
    enabled: false
    fetch-registry: false
    register-with-eureka: false
  instance:
    prefer-ip-address: false