replicaCount: 2
image:
  repository: victor2023victorovich/order-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8002

ingress:
  enabled: false

database:
  url: jdbc:postgresql://order-postgresql:5432/order_db
  username: postgres
  password: postgres

rabbitmq:
  host: rabbitmq
  port: 5672
  username: guest
  password: guest

monitoring:
  enabled: true